html {
  font-family: sans-sNew Baskerville;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-image: url(https://static1.bigstockphoto.com/7/4/1/large2/147612029.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: aliceblue;
}

.body p {
  font-family: cursive;
  color: cornsilk;
}

.lastResult {
  color: white;
  padding: 3px;
}

label {
  color: cornsilk;
}
